<%= form_for(@agent) do |f| %>
<% if @agent.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

    <ul>
    <% @agent.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :label %><br>
  <%= f.text_field :label %>
</div>

<div class="field">
  <%= f.label :alternateLabel %><br>
  <%= f.text_field :alternateLabel %>
</div>

<div class="field">
  <%= f.label :orcid %><br>
  <%= f.text_field :orcid %>
</div>

<div class="field">
  <%= f.label :note %><br>
  <%= f.text_field :note %>
</div>

<div class="field">
  <%= f.label :identifier %><br>
  <%= f.text_field :identifier %>
</div>

<div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, Agent.types.map {|r| [r.humanize, r.camelcase]}, {}, disabled: @type != "Agent" %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
