<h1>Agents#index</h1>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Label</th>
      <th>Alternate Label</th>
      <th>ORCID Label</th>
      <th>Identifier</th>
      <th>Note</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
</thead>
  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.type %></td>
        <td><%= agent.label %></td>
        <td><%= agent.alternateLabel %></td>
        <td><%= agent.orcid %></td>
        <td><%= agent.identifier %></td>
        <td><%= agent.note %></td>
        <td><%= link_to "See all #{agent.type.pluralize}", sti_agent_path(agent.type) %></td>
        <td><%= link_to 'Show', sti_agent_path(agent.type, agent) %></td>
        <td><%= link_to 'Edit', "" %></td>
        <td><%= link_to 'Destroy', "", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "See all agents", sti_agent_path %>
<%= link_to "New #{@type}", sti_agent_path(@type, nil, :new) %>
